*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
}
body{
    background-color: #303030;
}
.card{
    width: 380px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background: linear-gradient(to bottom left ,#ae9191,#78dede);
}
.search{
    height:40px ;
    width: 275px;
    display: flex;
    gap: 13px;
    margin: 24px 0;


}
.weather{
   display: none;
}
.search input{
    width: 230px;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-weight: 600;
    box-shadow: 5px 5px 5px #646464,2px 2px 2px #0f0e0e;
}
.search button{
   padding: 3px 5px;
   border-radius: 6px;
   background: transparent;
   border: none;
   cursor: pointer;
}
.search button:hover{
    border: 1px solid #000;
}

.temp{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.city{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.weather-img{
    width: 340px;
    text-align: center;
}

.weather-update{
    display: flex;
    gap: 40px;
    margin: 35px 0;
}
.humidity{
    display: flex;
    gap: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.wind{
    display: flex;
    gap: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.humidity-data{
    font-size: 20px;
}
.wind-data{
    font-size: 20px;
}