@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Ubuntu Mono", monospace;
     background-color: #7349F6;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap:12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-size: 48px;
     font-family: "Montserrat", sans-serif;
}
.watch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    font-size: 40px;
    background-color: #000000;
    color: #fff;
    
}
.controls button{
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}
#stop{
    background-color: #f00;
}
#stop:hover{
    background-color: #e60303;
}
#start{
    background-color: #0f0;
}
#start:hover{
    background-color: #06e806;
}
#reset{
    background-color: #00f;
}
#reset:hover{
    background-color: rgb(10, 10, 222);
}